
header, section {
	display: block;
}
body {
	font-family: 'Droid Serif';
}
h1, h2 {
	text-align: center;
	font-weight: normal;
}

footer {
	padding: 10px;
	text-align: center;
	font-weight: normal;
}

#features {
	margin: auto;
	width: 460px;
	font-size: 0.9em;
}
.sortable{
	margin: auto;
	padding: 10px 0px;
	width: 710px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.sortable.grid {
	overflow: hidden;
}
.sortable li {
	list-style: none;
	border: 1px solid #CCC;
	border-radius: 5px;
	background: #F6F6F6;
	font-family: "Tahoma";
	color: #585872;
	margin: 5px;
	padding: 5px;
	height: 20px;
	cursor: default;
}

li.sortable-placeholder {
	border: 1px dashed #CCC;
	background: none;
}

#addTask {
	margin:auto;
	padding: 0 10px;
	width: 700px;
}

#addTaskTextField {
	width: 570px;
}

#completedHeader {
	margin:auto;
	width: 700px;
	border: 1px solid #CCC;
	border-radius: 4px;
	padding: 5px;
}

#dateLabel {
	float:right;
	margin-right:40px;
}

#lastDateLabel {
	float:right;
	margin-right:45px;
}

#complete-button {
	background-image:url('complete_icon.png');
	background-repeat:no-repeat;
	padding:0px 4px; 
	width:20px; 
	height:20px;
	float: right;
	margin-right: 5px;
	cursor: pointer;
}

#start-button {
	background-image:url('play_icon.png');
	background-repeat:no-repeat;
	padding:0px 4px; 
	width:20px; 
	height:20px;
	float: right;
	margin-right: 5px;
	cursor: pointer;
}

#stop-button {
	background-image:url('stop_icon.png');
	background-repeat:no-repeat;
	padding:0px 4px; 
	width:20px; 
	height:20px;
	float: right;
	margin-right: 5px;
	cursor: pointer;
}

#remove-button {
	background-image:url('delete_icon.png');
	background-repeat:no-repeat;
	width:20px; 
	height:20px;
	float: right;
	margin-right: 5px;
	cursor: pointer;
}

#creation-date {
	padding:1px 4px; 
	background:#F6F6F6;
	border:1px solid;
	border-radius:4px;
	display: block;
	float: right;
	margin-right: 15px;
	font-size: .8em;
}

#start-date {
	padding:1px 4px; 
	background:#F6F6F6;
	border:1px solid;
	border-radius:4px;
	display: block;
	float: right;
	margin-right: 15px;
	font-size: .8em;
}

#completion-date {
	padding:1px 4px; 
	background:#F6F6F6;
	border:1px solid;
	border-radius:4px;
	display: block;
	float: right;
	margin-right: 15px;
	font-size: .8em;
}

#small-task {
	background-image:url('smalltask.png');
	background-repeat:no-repeat;
	width:20px; 
	height:20px;
	display: block;
	float: left;
	margin-right: 10px;
}

#medium-task {
	background-image:url('mediumtask.png');
	background-repeat:no-repeat;
	width:20px; 
	height:20px;
	display: block;
	float: left;
	margin-right: 10px;
}

#large-task {
	background-image:url('largetask.png');
	background-repeat:no-repeat;
	width:20px; 
	height:20px;
	display: block;
	float: left;
	margin-right: 10px;
}